/* Form */
.wpmq-para-box {
    margin-top: 54px;
    border: 2px solid #94b7d7;
    padding: 19px;
    background: #f8fafc;
}
.wpmq-para-box h3 {
    font-size: 19px;
    font-weight: bold;
}
.wpmq-para-box p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 29px
} 
.wpmq-multi-option {
  margin-top: 6px;
}
.wpmq-intro-box-header {
 margin-top: 13px;
    border: 1px solid #94b7d7;
    padding: 11px;
    background: #fcfcfc;
}
.wpmq-intro-box{
  text-align: center;
    font-size: 12px;
    font-weight: bold;
} 
.wpmq-member-detail span {
  font-weight: 700 !important;
}
.wpmq-member-detail p {
  display: inline-block;
}
.mpmq-check-box {
  /*border: 2px solid #337ab77a;*/
  padding: 15px;
  background: #fefefe;
  box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.54);
}

.mpmq-check-box h6{
    font-size: 15px;
    font-weight: bold;
}
.mpmq-check-ques label {
  background: white;
  border: 1px solid #03A9F4 !important;
  display: inline-block; 
    padding: 5px 14px !important;
    margin-bottom: 22px; 
    font-weight: 400;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}